apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  namespace: landcover
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: landcover/worker:latest
          envFrom:
            - configMapRef:
                name: landcover-config
            - secretRef:
                name: landcover-secrets
